extends ../layout/_layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index'}
	- blogTags = [
	-		{title: 'bitcoin', link:'#'},
	-		{title: 'bittorrent', link:'#'},
	-		{title: 'irc', link:'#'},
	-		{title: 'news', link:'#'},
	-		{title: 'privacy', link:'#'},
	-		{title: 'programming', link:'#'},
	-		{title: 'security', link:'#'}
	-	]

	- blogPosts = [
	-		{
	-			title: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises', 
	-			link:'#', 
	-			image: '/images/article1.jpg',
	-			author: 'Derek Zimmer',
	-			date: 'JUL 25, 2018',
	-			categories: [{name: 'Governments', link: '#'}, {name: 'Networking', link: '#'}, {name: 'Open Source', link: '#'}, {name: 'Privacy', link: '#'}, {name: 'Security', link: '#'}] 
	-		},
	-		{
	-			title: 'How to get cheaper flights using a VPN', 
	-			link:'#', 
	-			image: '/images/article2.jpg',
	-			author: 'Jayson',
	-			date: 'JUL 24, 2018',
	-			categories: [{name: 'Guides', link: '#'}] 
	-		},
	-		{
	-			title: 'Net Neutrality was repealed, but the fight is far from over', 
	-			link:'#', 
	-			image: '/images/article3.jpg',	
	-			author: 'Chris Miller',
	-			date: 'JUL 22, 2018',
	-			categories: [{name: 'Governments', link: '#'}, {name: 'Net Neutrality', link: '#'}, {name: 'News', link: '#'}] 	
	-		},
	-		{
	-			title: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises', 
	-			link:'#', 
	-			image: '/images/article1.jpg',	
	-			author: 'Derek Zimmer',
	-			date: 'JUL 25, 2018',
	-			categories: [{name: 'Governments', link: '#'}, {name: 'Networking', link: '#'}, {name: 'Open Source', link: '#'}, {name: 'Privacy', link: '#'}, {name: 'Security', link: '#'}] 
	-		},
	-		{
	-			title: 'How to get cheaper flights using a VPN', 
	-			link:'#', 
	-			image: '/images/article2.jpg',	
	-			author: 'Jayson',
	-			date: 'JUL 24, 2018',
	-			categories: [{name: 'Guides', link: '#'}] 
	-		},
	-		{
	-			title: 'Net Neutrality was repealed, but the fight is far from over', 
	-			link:'#', 
	-			image: '/images/article3.jpg',	
	-			author: 'Chris Miller',
	-			date: 'JUL 22, 2018',
	-			categories: [{name: 'Governments', link: '#'}, {name: 'Net Neutrality', link: '#'}, {name: 'News', link: '#'}] 	
	-		},	
	-	]	

	- announcements = [
	-		{title: 'Upcoming Changes (Live Chat, Less Censorship, More Access)', link:'#'},
	-		{title: 'New Servers (US Washington DC)', link:'#'},
	-		{title: 'New Servers (US Denver)', link:'#'},
	-		{title: 'Open Source: Releasing the PIA iOS Client', link:'#'},
	-		{title: 'Opera Extension is now available', link:'#'}
	-	]
	- popular = [
	-		{title: 'The Gift of Privacy', link:'#'},
	-		{title: 'UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture', link:'#'},
	-		{title: 'About the PIA Client Security and VPN Security in General', link:'#'},
	-		{title: 'A Private Net Is Just As Fundamental A Right As Freedom Of Speech', link:'#'},
	-		{title: 'Wiretapping Today Just Doesn’t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lie', link:'#'}
	-	]
block content_block
	.container 
		.simple-header.blog__header 
			.simple-header__item 
				.list-title Tags: 
				ul.simple-list
					each item in blogTags
						li.simple-list__item
							a.simple-list__link(href= item.link)= item.title
			.simple-header__item 
				ul.simple-list
					li.simple-list__item
						a.list-title.list-title--link(href='#') Team 
					li.simple-list__item
						a.list-title.list-title--link(href='#') Contact					
		.blog__wrapper(data-blog)
			main.blog__content 
				h1.page-title Recent posts
				each article in blogPosts 
					article.article-card
						picture.article-card__picture
							img.lazy.article-card__img(alt='' data-src=article.image)
						.article-card__content 
							h2.article-card__title
								a.article-card__link(href=article.link)= article.title
							.article-card__meta
								.article-card__author= article.author
								.article-card__date= article.date
							ul.article-card__categories.category-link__list
								each category in article.categories 
									li.category-link__item
										a.category-link(href=category.link)= category.name
							.article-card__comments
								a.comment-counter(href='#')
									.comment-counter__value 0
									.comment-counter__icon 
										svg #[use(xlink:href='/images/sprite/sprite.svg#comment')]
				.more-btn
					.btn.btn--bordered older posts
			aside.blog__sidebar
				.sidebar-widget
					form(action="#", method="post") 
						.icon-input
							.icon-input__icon
								svg #[use(xlink:href='/images/sprite/sprite.svg#search')]
							.icon-input__field
								+form_input({
									type: 'text',
									label: '',
									placeholder: 'Search blog',
									value: '',
									id: 'input_1',
								})
				.sidebar-widget 
					.sidebar-widget__title.widget-title 
						.widget-title__icon 
							svg #[use(xlink:href='/images/sprite/sprite.svg#light')]
						.widget-title__title Announcements
					.sidebar-widget__list
						ul.widget-list 
							each item in announcements
								li.widget-list__item 
									a.widget-list__link(href=item.link)= item.title 
				.sidebar-widget 
					.sidebar-widget__title.widget-title 
						.widget-title__icon 
							svg #[use(xlink:href='/images/sprite/sprite.svg#rss')]
						.widget-title__title Popular posts
					.sidebar-widget__list
						ul.widget-list 
							each item in popular
								li.widget-list__item 
									a.widget-list__link(href=item.link)= item.title 									
				.sidebar-widget
					.sidebar-widget__banner
						a.banner-link(href="#")
							img.lazy(data-src="/images/sidebar-banner.jpg", alt="")

				.sidebar-widget
					.sidebar-widget__title.widget-title 
						.widget-title__title Tag cloud			
					.sidebar-widget__banner
						a.banner-link(href="#")
							img.lazy(data-src="/images/tagcloud.jpg", alt="")